body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #181818;
  color: #ccc;
  margin: 0;
}

p {
  font-size: 1.4rem;
}

main {
  margin: auto;
  width: 70%;
}

.text_subtitle {
  font-size: 2.2rem;
  margin-top: 0px;
  text-align: center;
}

#bot-info p {
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: white;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 5vh;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

/* Change the link color to #111 (black) on hover */
nav ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

/* floating discord logo in the left bottom of the screen*/


nav li {
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad al hacer hover */
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
}

nav li:hover {
  opacity: 0.5; /* Reduce la opacidad al hacer hover */
}

/* Animación de fadeOut al hacer hover */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

nav li:hover {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.stats-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}

/* Estilo del icono de hamburguesa */
.menu-toggle {
  display: block;
  cursor: pointer;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.menu-toggle .toggle-btn {
  display: block;
}

.toggle-btn span {
  background: #fff;
  display: block;
  height: 2px;
  margin-bottom: 6px;
  transition: transform 0.4s, opacity 0.4s;
  width: 25px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 60px; /* Ajusta la posición del menú desplegable según tu diseño */
  left: 0;
  width: 100%;
  background: #141414;
  z-index: 100;
}

.nav-links li {
  text-align: center;
  margin-bottom: 10px;
}

.nav-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/* Mostrar el menú al hacer clic en el icono de hamburguesa */
#toggle:checked ~ .nav-links {
  display: block;
}

/* Animación del icono de hamburguesa */
.toggle-btn span:nth-child(1) {
  transform-origin: 0 0;
}

.toggle-btn span:nth-child(2) {
  transform-origin: 0 100%;
}

#toggle:checked ~ .toggle-btn span:nth-child(1) {
  transform: rotate(45deg);
}

#toggle:checked ~ .toggle-btn span:nth-child(2) {
  transform: rotate(-45deg);
}

#toggle:checked ~ .toggle-btn span:nth-child(3) {
  opacity: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra al navbar */
  width: calc(100% - 40px); /* Ancho del navbar - ajusta el padding */
  /* centrar la navbar a la mitad */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  z-index: 1000; /* Asegura que esté por encima del resto del contenido */
  border-radius: 10px;
}



.logo img {
  width: 40px; /* Ajusta el tamaño del logo */
  margin-right: 10px;
}

.logo span {
  font-weight: bold;
  font-size: 2rem;
}

/* Estilos restantes para dispositivos móviles y otros elementos */
/* ... (Tu CSS existente) ... */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 599px) {
  .nav-links-desktop {
    display: none; /* Ocultar el menú de navegación en pantallas pequeñas */
  }
  
  .navbar {
    position: relative;
  }
  
}
/* Estilos para pantallas de mayor tamaño (escritorio) */
@media screen and (min-width: 600px) {
  .menu-toggle {
    display: none; /* Ocultar el icono de hamburguesa en pantallas grandes */
  }
  
  .nav-links {
    display: none; /* Ocultar el menú de hamburguesa en pantallas grandes */
  }
  
  .nav-links-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links-desktop li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
  }
  
  .nav-links-desktop li:last-child {
    margin-right: 0;
  }
  
  .nav-links-desktop li a {
    color: #fff;
    text-decoration: none;
  }
}

/* Define el keyframe para la animación de fade in */
@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza con opacidad 0 (invisible) */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (visible) */
  }
}

/* Aplica la animación de fade in a los elementos de estadísticas */
.stat-item span{
  font-size: 3rem;
  font-weight: 800;
  color: #3eb83a;
}

.stat-item {
  font-size: 2rem;
  font-weight: 500;
  padding: 15px;
  text-align: center;

  /* Agrega la transición con la animación de fade in */
  animation-name: fadeIn;
  animation-duration: 1s; /* Duración de la animación */
  animation-fill-mode: both; /* Mantener el estado final después de la animación */
  animation-delay: 0.2s; /* Retraso para que la animación comience */
}


.command-list h3 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.command-list div {
  background-color: #353535;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: inline-block;
  margin: 10px;
  width: 420px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.category-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 4vh;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo para el select */
.category-select select {
  background-color: #353535;
  color: #ccc;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 800;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 150px;
}

.fade-inn {
  animation: fadeInAnimationn 0.5s ease-in-out;
  opacity: 0;
}

@keyframes fadeInAnimationn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* animacion de cargando despues de refrescar la imagen */




.more-info-button {
  background-color: #4e5058;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;  
}

#ai-info {
  display: flex;
  align-items: center;
  justify-content: safe center;
  margin-top: 5vh;
}
.embed-buttons {
  display: flex;
  align-items: flex-; /* Alinea los botones a la derecha */
  z-index: 100; /* Asegura que esté por encima del contenido */
}



.ai-content {
  width: 30%; /* Ajusta el ancho según tu diseño */
  align-items: center;
}


/* Estilos para navegadores WebKit (Chrome, Safari) */
/* Ancho de la barra */
::-webkit-scrollbar {
  width: 10px;
}

/* Estilo del riel (track) */
::-webkit-scrollbar-track {
  background: #5e5e5e;
}

/* Estilo de la barra en sí (thumb) */
::-webkit-scrollbar-thumb {
  background: #c084fc; /* Cambia el color de la barra */
  border-radius: 5px;
}

/* Estilo al pasar el mouse sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #a573d8; /* Cambia el color al pasar el mouse sobre la barra */
}


/* link de la invitacion del bot simulando un boton de discord */
#bot-invite {
  background-color: #7289da;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out; /* Transición de opacidad al hacer hover */
  /* centralo con margin: auto; */
  text-align: center;
  width: 200px;
  /* espacio entre el boton y el footer */
  margin-bottom: 5vh;
  margin-right: 40px;
}

#command-list {
  background-color: #c084fc;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out; /* Transición de opacidad al hacer hover */
  /* centralo con margin: auto; */
  text-align: center;
  width: 200px;
  /* espacio entre el boton y el footer */
  margin-bottom: 5vh;
}


#bot-invite:hover {
  opacity: 0.5; /* Reduce la opacidad al hacer hover */
}

#command-list:hover {
  opacity: 0.5; /* Reduce la opacidad al hacer hover */
}

a {
  color: #ccc;
}

footer {
  background-color: #141414;
  text-align: center;
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  /* remove the decoration of the link */
}

.logo a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {

  nav li {
    float: none;
  }

  nav li a {
    display: block;
    text-align: left;
  }
  
  #ai-info {
    width: 100%;
  }
  main {
    width: 90%;
    margin-top: 5vh;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  .text_subtitle {
    font-size: 1.5rem;
  }
  .stats-list {
    align-items: center;
  }

  #buttons {
    flex-direction: column;
  }

  #data-info {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
  
  .stats-list {
    flex-direction: column;
  }
  .stat-item {
    margin-bottom: 3vh;
  }

  .ai-content {
    width: 100%; /* Ocupa el ancho completo del contenedor en dispositivos móviles */
    margin-right: 10px; /* Agrega un espacio a la derecha del texto */
  }

  #ai-info {
    flex-direction: column; /* Cambia la dirección del flexbox a columna en dispositivos móviles */
    align-items: flex-start; /* Alinea los elementos al principio */
    width: 100%; 
  }
  #bot-invite {
    margin-right: 0px;
  }
  .discord-interface {
    margin-left: 0px;
  }
}
/* ... Tu CSS existente ... */
