body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212731;
  padding-top: 2em;
}



h1, h2, h3, li, p{
  color: #fff;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.3em;
}

.window {
  font-size: large;
}

h2{
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 0.2em;
  box-shadow: 5px 8px 10px #141414;
  text-align: center;

}

.lynk{
  background-color: #181B1D;
  border-radius: 5px;
  padding: 0.15em;
}

.cuadro {
  margin-bottom: 10px;
  background-color: #181B1D;
  border-radius: 10px;
  box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.3);
  padding: 0.1em 0.2em 0.2em 0.2em; /* reduce padding-top a 0.1em */
  box-sizing: border-box;
}

.cuadro h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 0.1em;
  background-color: #181B1D;
  border-radius: 10px;
  padding: 0.2em;;
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.3);
}

.cuadro p {
  margin-bottom: 10px;
  background-color: #242424;
  border-radius: 10px;
  padding: 0.2em;
  box-shadow: 2px 7px 8px rgba(0, 0, 0, 0.3);
}


p{
  font-size: 1.4em;
  margin: 0;
  text-align: center;
}
img{
border-radius: 20%;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
width: 4em;
}

header {
  background-color: #111315;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 6px 8px rgb(8, 8, 8);
}

header img {
  width: 3em;
  border-radius: 20%;
  float: left; /* flota la imagen hacia la izquierda */
  margin-right: 20px; /* agrega un margen a la derecha para separar el texto */
}

header h1 {
  margin-top: 0.3em; /* elimina el margen superior para que el encabezado se acerque a la imagen */
  float: left; /* flota el encabezado hacia la izquierda */
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 5px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  background-color: #4d5a86;
  padding: 0.4rem;
  border-radius: 0.4em;
}

header nav ul li a:hover {
  color: #ccc;
}

main {
  margin: auto;
  padding: 20px;
  width: 70%;
}

li a {
  color:#ccc;
  font-weight: bold;
}
p {
  display:inline-block;
}

.highligt {
  font-size: 1.3em;
}

.bigg {
  font-size: 3em;
  margin-top: 1.7em;
  margin-bottom: 0.5em;
}

footer {
  background-color: rgb(8, 8, 8);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 30px rgb(8, 8, 26);
}

footer p {
    margin: 0;
    font-weight: 700;
  }
  
  @media only screen and (max-width: 600px) {
    .mobile-hidden {
      display: none;
    }
  }

b {
  text-decoration: underline;
  font-size: 1.6em;
  color: #7289da;
  text-align: center;
  display: block;
}


.rounded-image{
  border-radius: 20%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}



